<div class="category">
  <h1 class="category_box"></h1>
  <h2 class="category_title">カテゴリー</h2>
</div>
<div class="new_title">
  <h1 class="new_title_box"></h1>
  <h2 class="title">タイトル</h2>
</div>
<div class="content">
  <h1 class="content_box"></h1>
  <h2 class="cintent_title">行ったライブ</h2>
</div>